.credit header {
  text-align: center;
  margin-top: 90px;
}

.credit section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.credit section .creditCard {
  width: 85%;
  display: flex;
  margin-bottom: 20px;
}

.credit section .creditCard h4{
  text-align: center;
}

.credit section .creditCard .iconDiv {
  margin: 15px;
}

.credit section .creditCard nav {
  margin-top: 24px;
  width: 300px;
}

.credit section .paymentForm {
  margin-top: 24px;
}
